httpx<0.25.0
langchain
langchain-community
pypdf
seaborn
nltk
wordcloud
torch
openpyxl
python-dotenv
langchain-groq
transformers
PyPDF2
langchain_huggingface
langchain_openai
sentence_transformers
faiss-cpu 
langchainhub
langchain-huggingface
